# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/

# Env files
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
.pre-commit-config.yaml

*.log
dist/
build/
*.egg-info/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml
